footer
    nav
        ul
            li
                a(href='https://github.com/wayofthefuture/lean-stack') GITHUB
            li
                a(href='https://github.com/wayofthefuture/lean-stack/fork') FORK
        #copyright
            | Copyright Alex Patton
        #subcopy
            | build on the GDAX platform with LEAN
